# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

# MacOS files
.DS_Store

# settings files
.vscode/
.idea/

# wake extension files
.wake/

# package files
package-lock.json
package.json

# build folders/files
build/
build/contracts/
migrations/
test/
truffle-config.json
abi.json

#.gitjgnore
.gitjgnore
README.md