# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

# MacOS files
.DS_Store

# settings files
.vscode/
.idea/

# wake extension files
.wake/